{% extends "base.html"%}
{% block head_title %}Privacy | {{ block.super }}{% endblock head_title %}
{% block content %}
<div class="col-sm-8 offset-sm-2">
	<div class="container">
		<br>
		<h1>Privacy Policy</h1>
		<hr>
		<br>
		<p>Is It Bad For You understands how important the privacy of personal information is to our users. We understand that your privacy matters and we respect your privacy choices. We urge you to take the time to read our entire Privacy Policy for complete detail about our privacy practices and your information.</p>
		<hr>
		<h3>Information Collected About You</h3>

		<p>We may collect “Personal Information” about you – such as your name, address, telephone number, email address or health information – in the following ways:</p>

		<p>- When you register for or update an existing profile on our web sites or Apps or register for the Is It Bad For You site;</p>
		<p>- When you use certain interactive tools and services (e.g., the forum, certain of our mobile Apps, or tools in certain Apps on our site);</p>
		<p>- When you sign-up for newsletters or other communications from Is It Bad For You;
		</p><p>- When you use our “Email a Friend” service;</p>
		<p>- When you participate in an online survey; or</p>
		<p>- When you provide personal information in a community area or other public forum.</p>
		<p>We may collect “Non-Personal Information” – information that cannot be used by us to identify you – via Cookies, Web Beacons, Is It Bad For You mobile device applications and from external sources, even if you have not registered with or provided any Personal Information to Is It Bad For You.  </p>
		<hr>
		<h3>What Choices Do I Have?</h3>

		<p>If you do not want your Personal Information used by Is It Bad For You as provided in this Privacy Policy, you should not register as a member or for any specific tool or application that collects Personal Information. You may correct, update or review Personal Information you have submitted through registration, tools and applications by signing in and updating your registration information. If you have registered and no longer want Is It Bad For You to use your Personal Information, you should delete your information as described in this Policy.

		Most browser software can be set to reject Cookies, and you can opt out of Cookies for several Ad Servers by visiting the Network Advertising Initiative gateway opt-out site.</p>
		<hr>
		<h3>How Information Collected About You Is Used</h3>

		<p>We may use information we collect about you to:

		</p><p>- Administer your account;</p>
		<p>- Provide you with access to particular tools and services;</p>
		<p>- Respond to your inquiries and send you administrative communications;</p>
		<p>- Obtain your feedback on our sites and our offerings;</p>
		<p>- Statistically analyze user behavior and activity;</p>
		<p>- Provide you and people with similar demographic characteristics and interests with more relevant content and advertisements;</p>
		<p>- Conduct research and measurement activities;</p>
		<p>- Send you personalized emails or secure electronic messages pertaining to your interests, including news, announcements, reminders and opportunities from Is It Bad For You; or</p>
		<p>- Send you relevant offers and informational materials on behalf of our sponsors pertaining to your interests.</p>
		<p>We may combine Personal and Non-Personal Information collected by Is It Bad For You about you, and may combine this information with information from external sources.  Third parties may also use Non-Personal Information in order to display advertising that reflects the interests and preferences of our user community.</p>
		<hr>
		<h3>With Whom Do We Share Your Information?</h3>

		<p>Is It Bad For You will not disclose any Personal Information about you unless specifically agreed to by you or:</p>

		<p>- To comply with legal requirements, such as a law, regulation, search warrant, subpoena, or court order;</p>
		<p>- To our vendors and suppliers in the course of their provision of products or services to Is It Bad For You;</p>
		<p>- In the event of a corporate change in control resulting from, for example, a merger, a sale of assets, or bankruptcy; or</p>
		<p>- In special cases, such as in response to a physical threat to you or others.</p>
		<p>Is It Bad For You does not make your Personal Information available to third parties for their marketing purposes without your consent.</p>
		<hr>
		<h3>How Do We Secure and Retain Your Information?</h3>

		<p>We take reasonable security measures to protect the security of your Personal Information. Despite Is It Bad For You's efforts to protect your Personal Information, there is always some risk that an unauthorized third party may find a way around our security systems or that transmissions of your information over the Internet may be intercepted.

		The security of your Personal Information is important to us.  When you enter Personal Information (including personal health information in various tools on our website), we encrypt the transmission of that information or use SSL connections (Secure Socket Layer) technology.

		We will retain your Personal Information as long as your account is active or needed to provide you services. At any time you can remove your Personal Information or instruct us to remove it, but you should be aware that it is not technologically possible to remove each and every record of the information you have provided to Is It Bad For You from our servers. Is It Bad For You tools that collect and store Personal Information allow you to correct, update or review information you have submitted by going back to the specific tool, logging-in and making the desired changes. We will also retain your Personal Information as necessary to comply with legal obligations, resolve disputes and enforce our agreements.</p>
		<hr>
		<h3>Children</h3>

		<p>We are committed to protecting the privacy of children. The Is It Bad For You Web Sites are not designed or intended to attract children under the age of 13. The Is It Bad For You Web Sites do not collect Personal Information from any person we actually know is under the age of 13. The parent or guardian is solely responsible for providing supervision of the minor's use of Is It Bad For You. The parent or guardian assumes full responsibility for ensuring that the registration information is kept secure and that the information submitted is accurate. The parent or guardian also assumes full responsibility for the interpretation and use of any information or suggestions provided through Is It Bad For You for the minor.</p>
		<hr>
		<h3>Contacting Is It Bad For You About Your Personal Information or Privacy</h3>

		<p>Please send us an email by using the <a href="/contact">contact</a> link at the bottom of every page of our site if you have any questions about this Privacy Policy or the Personal Information we maintain about you.</p>

		<p>You can also contact Is It Bad For You’s Privacy Office at:</p>

		<p>Is It Bad For You, LLC<br>
		Attn: Office of Privacy<br>
		P.O. Box 31838<br>
		Tucson, Arizona 85715</p>
		<hr>
		<h3>Changes to This Privacy Policy</h3>

		<p>We reserve the right to change or modify this Privacy Policy or any of our tools or services at any time and any changes will be effective upon being posted unless we advise otherwise. If we make any material changes to this policy we will notify you by email (sent to the email address specified when you register) and/or by means of a notice on this website prior to the change becoming effective. We encourage you to periodically review this website for the latest information on our privacy practices. If you do not accept the terms of this Privacy Policy, we ask that you do not register with us and that you do not use the Is It Bad For You Web Sites. Please exit the Is It Bad For You Web Sites immediately if you do not agree to the terms of this Privacy Policy.</p>

		<p>Effective Date: March 31, 2015</p>

		<p>©2017 Is It Bad For You, LLC. All rights reserved.</p>

		<hr>
	</div>
</div>
{% endblock content %}